
<div *ngIf='user'>
    <app-add-article (event)='addArticle($event)' (nations)='setNations($_nations)'></app-add-article>
</div>
<br>
<form>
    <div class="section field" class="ui form"><label for="search">Zoek op land
        <div class="ui loading search">
            <div class="ui icon input">
                <input type="text" name="search" id="search" placeholder="search..." [(ngModel)]="filter.nation">
              <i class="search icon"></i>
            </div>
          </div>
        </label>
      </div>
  </form>

<div class="ui grid">

            <div *ngFor="let article of articles | articlefilter:filter" class="sixteen wide mobile eight wide tablet four wide computer column" >
                    <app-article  [article]="article"> 
                    </app-article>
            </div>
   
    
</div>




    

