<h2 class="loading" (click)='add()'>Voeg artikel toe <i class="plus icon" ></i></h2>
<div class='add' *ngIf="addA">
    <form [formGroup]='article' class="ui reply form" (ngSubmit)="addArticle()">
      <div class="field">
        <label>Title
        <input type="text" value="title" formControlName="title"/>
        </label>
      </div>
      <div class="field">
          <label >Land
          <select formControlName= "nation"> 
              <option *ngFor='let nation of nations' >{{nation}}</option>
              
          </select>
          </label>
      </div>
      <div class="field">
          <label>Artikel
        <textarea formControlName='text'></textarea>
        </label>
      </div>
      <div class="field">
          <label>Foto
         <input name="picture" id='picture' type="file" #fileInput>
        </label>
      </div>
  
        <input class="ui primary button " type="submit"  [disabled] = '!article.valid' value="Toevoegen"/>
      
    </form>
</div>