<div class='add'>
    <form [formGroup]='article' class="ui reply form" (ngSubmit)="addArticle()">
      <h2>Voeg artikel toe</h2>
      <div class="field">
        <label>Title
        <input type="text" value="title" formControlName="title"/>
        </label>
      </div>
      <div class="field">
          <label for="nation">Land
          <select  *ngFor='let nation of nations' formControleName="nation" name="nation"> 
              <option >{{nation.value}}</option>
              
          </select>
          </label>
      </div>
      <div class="field">
          <label>Artikel
        <textarea formControlName='text'></textarea>
        </label>
      </div>
      <div>
          <label>Foto
         <input name="picture" id='picture' type="file" #fileInput>
        </label>
      </div>
  
        <input class="ui primary button " type="submit" value="Toevoegen"/>
      
    </form>
</div>