<div *ngIf="_article">
<div *ngIf="_userArticle">
  <div class="ui items">
    <div class="item">
      <div class="ui medium image">
        <img src="data:image/jpg;base64,{{_article.picture}}">
      </div>
      <div class="content">
        <div class="header">{{_article.nation}} -- {{_article.title}}</div>
        <div class="right floated author">
          <img class="ui avatar image" src="data:image/jpg;base64,{{_userArticle.picture}}"> {{_article.username}}
          <sub>{{_article.date | date: 'dd/MM/yyyy'}}</sub>
        </div>
        <div class="meta">
          <a class="like" (click)="addLike()">
            <i [ngClass]="_like?'red heart icon':'empty heart icon'"></i> {{_article.likes.length}} Likes
          </a>
          <a class="comment">
            <i class="comment icon"></i>{{_article.comments.length}} Comments
          </a>
        </div>
        <div class="description">
          <p>{{_article.text}}</p>
        </div>
      </div>
    </div>
    <div>
      <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        <div *ngFor='let feed of _article.comments'>

          <div class="commentLayout">
          <div class="comment">
            <a class="avatar">
              <img src='data:image/jpg;base64,{{feed.userpic}}'>
            </a>
            <div class="content">
              <a class="author">{{feed.username}}</a>
              <div class="metadata">
                <span class="date">{{feed.date | date : 'dd/MM/yyyy'}}</span>
              </div>
              <div class="text">
                {{feed.text}}
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <form [formGroup]='comment' (ngSubmit)="addComment()" class="ui reply form">
        <div class="field">
          <textarea formControlName='text'></textarea>
        </div>
        <div class='ui pointing red basic label' *ngIf=' comment.get("text").errors?.required && comment.get("text").touched'>
          Dit veld is verplicht!
         </div>
        <div class='ui pointing red basic label' *ngIf=' comment.get("text").errors?.minlength && comment.get("text").touched'>
          Inhoud is te kort! Het moet {{comment.get("text").errors?.minlength.requiredLength }} karakters bevatten!
         </div>
        <div *ngIf="_user">
          <div class="metadata">
            <img class="ui avatar image" id="userPic" src='data:image/jpg;base64,{{_user.picture}}'>{{user}}

          </div>
        </div>
        <br>
        <input class="ui primary button " type="submit"  [disabled] = '!comment.valid' value="Toevoegen"/>


      </form>
    </div>
  </div>
</div>
</div>