.ui.comments {
    max-width:100%;
}

.ui.items:last-child {
    background-color: white;
    padding: 2%;
}

.commentLayout{
    padding-bottom: .21428571rem;
    border-bottom: 1px solid rgba(34,36,38,.15);
    margin-bottom: 0.75em;
}
