<div class="ui header customheader">
    <div class="logo">WanderFull</div>
    <nav>
      <a class='item' routerLinkActive='active' routerLink="article/list" >Articles</a>
      <a *ngIf='(currentUser | async) else loginlink' class="item" routerLinkActive='active' routerLink="/user">{{currentUser|async}} </a>
      <ng-template #loginlink>
        <a class="item" routerLinkActive='active' routerLink="/login">log in</a>
      </ng-template>
     
      <a class='item' *ngIf='!currentuser' routerLinkActive='active' routerLink="/logout" >Log out</a>
      
    </nav>
    

  </div>
<div class="ui container wrapper"> 
  

       <router-outlet></router-outlet>
 </div>
  

<footer>©Jess Arschoot</footer>



