
body{
    width:100%;
    height:100%;
}
.article{
    display:inline;
   vertical-align: bottom;
}

.customheader{
    color:white;
    background-color:#14ADE0;
    z-index:1;
    padding-top:2%;
    padding-left:2%;
    height:3em;
    text-align: left;
    font-size:2em;
}
nav{
    display:inline;
    float:right;
    margin-right:10%;
}
nav a{
    width:100%;
    color:white;
}
nav a:hover{
    border-bottom: 2px solid #3F7D91;
    padding-bottom:.5em;

}
.logo{
    display:inline;
    width:50%;
}

footer{
    display:block;
    bottom:0;
    position:fixed;
    width:100%;
    text-align: center;
    color:white;
    z-index:1;
    background-repeat: repeat-y;
}
