<form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form segment register">
  <h3 class="ui header">registreer nieuwe gebruiker</h3>
  <div class="field">
    <label for="username">gebruikersnaam:</label>
    <input type="text" id="username" formControlName='username'>
    <div class='ui pointing red basic label' *ngIf=' user.get("username").errors?.required && user.get("username").touched'>
      een gebruikersnaam is verplicht
    </div>
    <div class='ui pointing red basic label' *ngIf='user.get("username").errors?.minlength && user.get("username").touched'>
      de gebruikersnaam moet  {{user.get("username").errors?.minlength.requiredLength }} karakters bevatten
    </div>
    <div class='ui pointing red basic label' *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
      de gebruiker bestaat al
    </div>
  </div>
  <div class="field">
    <input name="picture" id='picture' type="file" #fileInput (change)='previewFile()'>
    <br>
    <img *ngIf="picture" id="previewPic" height="200">
    
  </div>
  
  <div class="field">
      <label for="name">Naam:</label>
      <input type="text" id="name" formControlName='name'>
  </div>
  <div class='ui pointing red basic label' *ngIf=' user.get("name").errors?.required && user.get("name").touched'>
    een naam is verplicht
  </div>
  <div class='ui pointing red basic label' *ngIf='user.get("name").errors?.minlength && user.get("name").touched'>
    de naam moet {{user.get("name").errors?.minlength.requiredLength }} karakters bevatten
  </div>
  <div formGroupName='passwordGroup'>
    <div class="field">
      <label for="password">wachtwoord:</label>
      <input type="password" id="password" formControlName='password'>
      <div class='ui pointing red basic label' *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
        wachtwoord te kort, gebruik ten minste {{passwordControl.errors?.passwordTooShort.requiredLength}} karakters (al {{passwordControl.errors?.passwordTooShort.actualLength}})
      </div>
    </div>
    <div class="field">
      <label for="confirmpassword">bevestig wachtwoord:</label>
      <input type="password" id="confirmpassword" formControlName='confirmPassword'>
    </div>
    <div class='ui pointing red basic label' *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
     de twee wachtwoorden moeten hetzelfde zijn
    </div>
  </div>
  <br>

  <button type='submit' [disabled]='!user.valid' class="ui positive right floated button">registreer</button>
</form>